# Export local path with correct Terraform version to be used
export PATH=$PWD/.bin:$PATH

export PATH=$PATH:$(go env GOPATH)/bin

export TF_LINUX_SSH_USER="root"
export TF_LINUX_SSH_PASSWORD="root"
export TF_LINUX_SSH_PORT="5004"
export TF_LINUX_SSH_HOST="127.0.0.1"
export TF_ACC=1
